@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:wght@400;500&display=swap");

:root {
  --primary-color: #c1c8e4;
  --secondary-color: #84ceeb;
  --tertiary-color: #5ab9ea;
  --text-color: #000;
}

.dark-mode {
  --primary-color: #121212;
  --secondary-color: #1f1b24;
  --tertiary-color: #332940;
  --text-color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.website-conatiner {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 20px 10px;
}

.logo {
  padding: 0 10px;
}

.header-right li {
  padding: 0 10px;
}

.right-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#query {
  height: 4vh;
  width: 40vw;
  border-radius: 10px;
  padding: 10px;
}

.bar {
  width: 8vw;
  height: 4vh;
  padding: 0 5px;
  margin: 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #8860d0;
  font-weight: 600;
  cursor: pointer;
}

.weather-container {
  display: flex;
  flex-direction: row;
}

.main-weather {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 40px 80px;
  margin-left: 120px;
}

.weather-icon {
  padding: 10px;
}

#weather-icon{
  width: 100px;
  height: 100px;
}

.temperature {
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-size: 48px;
}

.temp-unit {
  padding: 20px 10px;
}

.city {
  padding: 10px 8px;
  font-size: 24px;
}

.card-main {
  display: flex;
  flex-flow: row wrap;
  padding: 50px 100px;
}

.card {
  height: 150px;
  width: 200px;
  padding: 30px;
  margin: 20px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 24px;
}
