@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:wght@400;500&display=swap');


:root{
     --primary-color:#c1c8e4;
    --secondary-color:#84ceeb;
    --tertiary-color:#5ab9ea; 
    --text-color:#000;

}

.dark-mode{
    --primary-color:#121212;
    --secondary-color:#1f1b24;
    --tertiary-color:#332940;
    --text-color:aliceblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--primary-color);
    color:var(--text-color);
}

.website-conatiner{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f1f1f1;
    padding: 20px 10px;
}

.header-right li{
    padding:0 10px;
}

.right-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

ul{
    list-style: none;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.bar{
    width: 8vw;
    height: 4vh;
    padding: 0 5px ;
    margin: 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #8860d0;
    font-weight: 600;
}

.weather-container{
    display: flex;
}

.card-main{
    display: flex;
    flex-flow: row wrap;
    padding: 50px 100px;
}

.card{
    height: 150px;
    width: 200px;
    padding: 30px ;
    margin: 20px 75px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 24px;
}